
/* General setup */
* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* Layout */
main {
    overflow:auto;
    min-width:45rem;
}

section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}

.long-list {
    margin-top:0;
}

nav {
    float: left;
    width:11.25rem;
}

footer {
    clear: both;
    margin-top:1.5rem;
}

section, aside, nav, footer {
  padding: .5rem;
}

/* header and footer */
header, footer {
  border-top: .125rem solid #33658A;
  border-bottom: .125rem solid #33658A;
}


/* Imported Typfaces */
@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
    /* Additional font properties (e.g., font-weight, font-style) can be added here */
}

@font-face {
    font-family: 'Josefinslab';
    src: url(/fonts/Josefinslab-Regular.ttf') format('tryetype');
    font-weight:normal;
    font-style:normal;
    /* Additional font properties (e.g., font-weight, font-style) can be added here */
}
/* Typography styling */
html {
    font-family: 'Montserrat', Arial, sans-serif; /* Use Montserrat or fallback to Arial and then to generic sans-serif */
    font-size: 16px; /* Base font size */
}

h1 {
    font-family: 'Josefinslab', serif; /* Use Josefinslab or fallback to serif */
    font-size: 3.75rem; /* 60px */
    margin: 1.125rem 0; /* 18px */
    letter-spacing: 0.125rem; /* 2px */
    text-align: center;
}

h2 {
    font-family: 'Josefinslab', serif; /* Use Josefinslab or fallback to serif */
    font-size: 1.5rem; /* 24px */
    letter-spacing: 0.125rem; /* 2px */
}

p, ul, ol {
    font-size: 0.75rem; /* 12px */
    letter-spacing: 0.03125rem; /* 0.5px */
    word-spacing: 0.125rem; /* 2px */
}

h2 + p {
    text-indent: 1.5rem; /* 24px */
}

figcaption {
    font-size: 0.75rem; /* 12px */
    margin-bottom: 2rem; /* 32px */
}

/* Link styling */
a {
    color: #33658A; /* Default link color */
    text-decoration: none; /* Remove default underline */
    outline: none; /* Remove default outline */
}

a:visited {
    color: #33658A; /* Visited link color */
}

a:focus,
a:hover {
    text-decoration: none; /* Remove underline on focus and hover */
}

.long-list:hover a {
    text-transform: uppercase; /* Transform text to uppercase on hover */
}

/* Lists styling */
ul, ol {
    margin-top: 1rem; /* 16px top margin */
    margin-bottom: 1rem; /* 16px bottom margin */
    margin-left: 0; /* Remove default left margin */
    margin-right: 0; /* Remove default right margin */
}

ul {
    list-style-type: square; /* Square bullet points for unordered lists */
}

ol {
    list-style-type: lower-alpha; /* Lowercase letters for ordered lists */
}

/* Navigation menu styling */
nav {
    padding-left: 0; /* Left padding of navigation container */
    margin-top: 0.25rem; /* 4px top margin */
}

nav a {
    text-decoration: none; /* Remove default underline */
    display: inline-block; /* Display links as inline-block */
    width: 100%; /* Set width to 100% */
    line-height: 3; /* Set line height to 3 */
    text-align: center; /* Center the text */
    font-size: 1.125rem; /* 18px font size */
    margin-bottom: 1.5rem; /* 24px bottom margin */
    border-bottom: 0.0625rem solid #33658A; /* Solid border with 1px width and color #33658A */
}

nav a:focus,
nav a:hover {
    color: #FFF; /* Foreground color on focus and hover */
    background-color: #33658A; /* Background color on focus and hover */
}

nav a:active {
    color: #FFF; /* Foreground color on active state */
    background-color: #000; /* Background color on active state */
}

/* Footer styling */
footer {
    text-align: center; /* Center the text in the footer */
}